<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="http://localhost:8080/css/admin.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <span><h1>Giao Diện Admin</h1></span>
        </div>
        <div class="note-card">
            <h3>Danh sách quản lý</h3>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="product-card">
                    <div class="card-body" onclick="window.location.href='admin/quanLyUser'">
                    
                        <h5 class="card-title"><a href="admin/quanLyUser">Quản lý tài khoản</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-card">
                    <div class="card-body" onclick="window.location.href='admin/quanLyProduct'">
                        <h5 class="card-title"><a href="admin/quanLyProduct">Quản lý Sản phẩm</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-card">
                    <div class="card-body" onclick="window.location.href='admin/quanLyKho'">
                        <h5 class="card-title"><a href="admin/quanLyKho">Quản lý kho</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-card">
                    <div class="card-body" onclick="window.location.href='admin/quanLyDonHang'">
                        <h5 class="card-title"><a href="admin/quanLyDonHang">Quản lý đơn hàng</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-card">
                    <div class="card-body" onclick="window.location.href='admin/quanLyKhuyenMai'">
                        <h5 class="card-title"><a href="admin/quanLyKhuyenMai">Quản lý Khuyến mãi</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-card">
                    <div class="card-body" onclick="window.location.href='admin/thongKe'">
                        <h5 class="card-title"><a href="admin/thongKe">Thống kê - Báo cáo</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer>
    <h5>  </h5>
</footer>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
</body>
</html>
