<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Sản phẩm</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="http://localhost:8080/css/admin.css">
    <style>
        .tab-content {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logo">
            <h1>Giao Diện Admin</h1>
        </div>

        <div class="note-card">
            <h3>Quản lý sản phẩm</h3>
            <a href="/admin">Menu</a>
        </div>
		<form th:action="@{/admin/quanLyProduct}" method="post">
			<input name="keywords" th:value="${keywords}">
			<button>Search</button>
		</form>  
			<div id="productTable">     
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Category</th>
                            <th scope="col">Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product : ${products}">
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.category.name}"></td>
                            <td th:text="${product.name}"></td>
                            <td><img th:src="@{/image/{imageName}(imageName=${product.image})}" alt="Product Image" width="100"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></td>
                            <td>
                                <a th:href="@{/admin/editProduct/{id}(id=${product.id})}" class="btn btn-info btn-sm">sửa</a>
                               <a th:href="@{/admin/deleteProduct/{id}(id=${product.id})}" class="btn btn-danger btn-sm" onclick="return confirmDelete()">Xóa</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
				    <ul class="pagination">
				        <li class="page-item">
				            <a class="page-link" href="javascript:void(0)" th:onclick="'loadPage(0)'">First</a>
				        </li>
				        <li class="page-item">
				            <a class="page-link" href="javascript:void(0)" th:onclick="'loadPage(' + ${products.number - 1} + ')'" th:if="${products.number > 0}">Previous</a>
				        </li>
				        <li class="page-item">
				            <a class="page-link" href="javascript:void(0)" th:onclick="'loadPage(' + ${products.number + 1} + ')'" th:if="${products.number < products.totalPages - 1}">Next</a>
				        </li>
				        <li class="page-item">
				            <a class="page-link" href="javascript:void(0)" th:onclick="'loadPage(' + ${products.totalPages - 1} + ')'" th:if="${products.number < products.totalPages - 1}">Last</a>
				        </li>
				    </ul>
				</nav>
            </div>
             <!-- Hiển thị thông báo -->
					<div th:if="${message}" class="text-center text-danger">
    					<p th:text="${message}"></p>
					</div>
                <div class="row mt-4 d-flex justify-content-center">
                    <div class="col-md-6">
                        <form th:action="@{/admin/saveProduct}" method="post"  th:object="${product}" enctype="multipart/form-data" id="myForm">
                           <div class="form-group">
						            <label for="inputFullname">ID:</label>
						            <input type="text" class="form-control" readonly name="id" id="inputID" th:field="*{id}">
						        </div>
                            <div class="form-group">
                                <label for="inputName">Name:</label>
                                <input type="text" class="form-control" id="inputName" name="name" th:field="*{name}">
                                <div class="alert alert-warning" th:errors="${product.name}"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputImage">Image:</label>
                                <input type="file" class="form-control" id="inputImage" name="image">
                                <div class="alert alert-warning" th:if="${hasMessage}">chưa chọn image!!!</div>
                                <div  th:unless="${hasMessage}"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Description:</label>
                                <textarea class="form-control" id="inputDescription" rows="5" name="description" th:field="*{description}" ></textarea>
                            </div>
                            <div class="form-group">
							    <label for="inputPrice">Price:</label>
							    <input type="number" class="form-control" id="inputPrice" name="price" th:field="*{price}"  step="0.01">
							     <div class="alert alert-warning" th:errors="${product.price}"></div>
							</div>
                            <div class="form-group">
                                <label for="inputCategoryID">Category:</label>
                                <select class="form-control" id="inputCategoryID" name="category.id" th:field="*{category.id}">
								    <option th:if="*{category.id != null}" th:value="*{category.id}" th:text="*{category.name}"></option>
    								<option th:unless="${category != null}" value="0" selected>-- Chọn category --</option>
								    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
								</select>
								<div class="alert alert-warning" th:errors="${product.category.id}"></div>
                            </div>
                            <button type="submit" class="btn btn-success">Lưu</button>
                            <a th:href="@{/admin/clearProduct}"  class="btn btn-info btn-sm">làm mới</a>
                        </form>
                    </div>
                </div>
            </div>
 <footer><div class="logo">
        <h1></h1>
    </div></footer>
    <script>
	    
	    function confirmDelete() {
	        return confirm("Bạn có chắc chắn muốn xóa sản phẩm này?");
	    }
	</script>

	<script th:inline="javascript">
        /*<![CDATA[*/
       function loadPage(page) {
		    $.ajax({
		        url: '/admin/quanLyProduct',
		        type: 'GET',
		        data: {
		            'keywords': '',
		            'p': page
		        },
		        success: function (data) {
		            $('#productTable').html($(data).find('#productTable').html());
		        },
		        error: function () {
		            console.log('Error occurred while loading the page.');
		        }
		    });
		}
        /*]]>*/
    </script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
