<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý khuyến mãi</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="http://localhost:8080/css/admin.css">
    <style>
        .tab-content {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logo">
            <h1>Giao Diện Admin</h1>
        </div>

        <div class="note-card">
            <h3>Quản lý khuyến mãi</h3>
            <a href="/admin">Menu</a>
        </div>
		<form th:action="@{/admin/quanLyKhuyenMai}" method="post">
            <input name="keywords" th:value="${keywords}">
            <button>Search</button>
        </form>
     	<div id="discountTable">
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Discount Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="discount : ${discounts}">
                            <th th:text="${discount.id}"></th>
                            <td  th:text="${discount.product.name}"></td>
                            <td  th:text="${#numbers.formatDecimal(discount.discountAmount, 0, 'COMMA', 0, 'POINT')}"></td>
                         	<td>
                               <a th:href="@{/admin/editDiscount/{id}(id=${discount.id})}" class="btn btn-info btn-sm">sửa</a>
                               <a th:href="@{/admin/deleteDiscount/{id}(id=${discount.id})}" class="btn btn-danger btn-sm" onclick="return confirmDelete()">Xóa</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                 <nav aria-label="Page navigation">
				    <ul class="pagination">
				        <li class="page-item">
				            <a class="page-link" href="javascript:void(0)" th:onclick="'loadPage(0)'">First</a>
				        </li>
				        <li class="page-item">
				            <a class="page-link" href="javascript:void(0)" th:onclick="'loadPage(' + ${discounts.number - 1} + ')'" th:if="${discounts.number > 0}">Previous</a>
				        </li>
				        <li class="page-item">
				            <a class="page-link" href="javascript:void(0)" th:onclick="'loadPage(' + ${discounts.number + 1} + ')'" th:if="${discounts.number < discounts.totalPages - 1}">Next</a>
				        </li>
				        <li class="page-item">
				            <a class="page-link" href="javascript:void(0)" th:onclick="'loadPage(' + ${discounts.totalPages - 1} + ')'" th:if="${discounts.number < discounts.totalPages - 1}">Last</a>
				        </li>
				    </ul>
				</nav>
            </div>
                <!-- Hiển thị thông báo -->
					<div th:if="${message}" class="text-center text-danger">
    					<p th:text="${message}"></p>
					</div>
                <div class="row mt-4 d-flex justify-content-center">
                    <div class="col-md-6">
                        <form th:action="@{/admin/saveDiscount}" method="post"  th:object="${discount}">
                           	<div class="form-group">
						        <label for="inputFullname">ID:</label>
						       	<input type="text" class="form-control" readonly name="id" id="inputID" th:field="*{id}">
						    </div>
                            <div class="form-group">
						        <label for="inputProductId">Product Name:</label>
						        <select class="form-control" id="inputProductID" name="product.id" th:field="*{product.id}">
						            <option th:if="*{product.id != null}" th:value="*{product.id}" th:text="*{product.name}"></option>
						            <option th:unless="${product != null}" value="0" selected>-- Chọn sản phẩm --</option>
						            <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
						        </select>
						        <div class="alert alert-warning" th:errors="${discount.product.id}"></div>
						    </div>
                            <div class="form-group">
                                <label for="inputDiscountAmount">Discount Amount:</label>
                                <input type="number" class="form-control" id="inputDiscountAmount" th:field="*{discountAmount}">
                                <div class="alert alert-warning" th:errors="${discount.discountAmount}"></div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success">thêm</button>
                                    <a th:href="@{/admin/clearDiscount}"  class="btn btn-info btn-sm">làm mới</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    <footer><div class="logo">
        <h1></h1>
    </div></footer>
    <script>
	    function confirmDelete() {
	        return confirm("Bạn có chắc chắn muốn xóa sản phẩm này?");
	    }
	</script>
	<script th:inline="javascript">
        /*<![CDATA[*/
       function loadPage(page) {
		    $.ajax({
		        url: '/admin/quanLyKhuyenMai',
		        type: 'GET',
		        data: {
		            'keywords': '',
		            'p': page
		        },
		        success: function (data) {
		            $('#discountTable').html($(data).find('#discountTable').html());
		        },
		        error: function () {
		            console.log('Error occurred while loading the page.');
		        }
		    });
		}
        /*]]>*/
    </script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>