<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê - Báo cáo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="http://localhost:8080/css/admin.css">
    <style>
        .tab-content {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logo">
            <h1>Giao Diện Admin</h1>
        </div>

        <div class="note-card">
            <h3>Thống kê - Báo cáo</h3>
            <a href="/admin">Menu</a>
        </div>

        <h1>Thống kê</h1>
    <form action="/admin/thongke" method="post">
	    <input type="number" name="month" >
	    <button type="submit">Submit</button>
	</form>
    
    <table>
        <thead>
            <tr>
                <th>Ngày đặt hàng</th>
                <th>Tổng số tiền</th>
                <th>Tên người mua</th>
                <th>Tên sản phẩm</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over the list of reports -->
            <tr th:each="item : ${items}">
                <td th:text="${item.totalAmount}"></td>
            
                <td th:text="${item.productName}"></td>
            </tr>
        </tbody>
    </table>
    </div>

    <footer><div class="logo">
        <h1></h1>
    </div></footer>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>