<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê - Báo cáo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="http://localhost:8080/css/admin.css">
    <style>
        .tab-content {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logo">
            <h1>Giao Diện Admin</h1>
        </div>

        <div class="note-card">
            <h3>Thống kê - Báo cáo</h3>
            <a href="/admin">Menu</a>
        </div>
<form action="/admin/thongKe" method="post">
	  <div class="form-group">
	    <label for="startDate">Thời gian bắt đầu:</label>
	    <input type="date" id="startDate" th:if="${startDate}" th:value="${startDate}" name="startDate" required>
	    <input type="date" id="startDate" th:unless="${startDate}"  name="startDate" required>
	  </div>
	  <div class="form-group">
	    <label for="endDate">Thời gian kết thúc:</label>
	    <input type="date" id="endDate" th:if="${endDate}" th:value="${endDate}" name="endDate" required>
	    <input type="date" id="endDate" th:unless="${endDate}"  name="endDate" required>
	  </div>
	  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
	</form>
        <table class="table mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Order ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Address</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="orderDetail : ${orderDetails}">
                <td th:text="${orderDetail.id}"></td>
                <td th:text="${orderDetail.order.id}"></td>
                <td th:text="${orderDetail.order.note}"></td>
                <td th:text="${orderDetail.quantity}"></td>
                <td th:text="${orderDetail.address}"></td>
                <td th:text="${#numbers.formatDecimal(orderDetail.order.totalAmount, 0, 'COMMA', 0, 'POINT')}"></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
		<strong>Total Amount:  </strong><span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')}"></span><b> vnđ</b>
	</div>
    </div>
        

    <footer><div class="logo">
        <h1></h1>
    </div></footer>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>